/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h1 {
	margin: 0;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-header {
	display: block;
	text-align: center;
}

.name {
	font-size: 1.25em;
}

.name a,
.main-nav a {
	text-align: center;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.main-nav a:hover {
	color: #093a58;
}

.main-footer {
	text-align: center;
}

/* ---- Layout Containers ---- */

.banner {
	color: #fff;
	background: #3acec2;
	text-align: center;
	padding: 40px;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.wrapper {
		width: 80%;
		max-width: 1150px;
		margin: auto;
	}

	.main-nav li,
	.name a {
		display: inline-block;
	}

	.name {
		float: left;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		float: left;
		margin-left: 50px;
	}

	.main-header {
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.primary {
		width: 40%;
	}

	.secondary {
		width: 30%;
	}

	.tertiary {
		width: 30%;
	}

	.col {
		float: left;
		margin-top: 50px;
		padding: 15px;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (max-width: 1025px) {
	.col {
		width: 50%;
	}
	.tertiary {
		width: auto;
		margin-top: 0;
	}
}

@media (max-width: 500px) {
	.col {
		width: auto;
		margin: 20px 50px;
	}
}

@media (min-width: 501px) and (max-width: 768px) {
	.col {
		width: auto;
		margin: 20px 50px;
	}
}
